{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>LikeCounter</th>
                <th>PublishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.likeCounter }}</td>
                <td>{{ video.publishedAt ? video.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_video_show', {'id': video.id}) }}" class="btn btn-outline-secondary btn-sm">show</a>
                    <a href="{{ path('admin_video_edit', {'id': video.id}) }}" class="btn btn-outline-primary btn-sm">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_video_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
