{% extends 'base.html.twig' %}

{% block title %}{{ video.title }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-9">
        <video id="player" playsinline controls>
            <source src="{{ video.file }}" type="video/mp4" />
        </video>

        <h1>
            {{ video.title }}
        </h1>

        <div>
            <time datetime="{{ video.publishedAt|date('c') }}">
                {{ video.publishedAt|date('d/m/Y') }}
            </time>
        </div>

        <div>
            Author
        </div>

        {% if video.description is not empty %}
            <p>{{ video.description }}</p>
        {% endif %}
    </div>

    <div class="col-md-3">
        {% for video in suggested_videos %}
            <div class="mb-4">
                {{ include('cards/video.html.twig') }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
